/* Estilos generales */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #4caf50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

main {
  flex: 1;
  padding: 20px 0;
  text-align: center;
}

.usuario {
  width: 45px;
  height: auto;
  cursor: pointer;
}

.dudas {
  width: 25px;
  height: auto;
  cursor: pointer;
}

nav {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  border-radius: 0 0 50px 50px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
  position: relative;
}

h2 {
  margin-top: 20px;
  color: #333;
}

.summary {
  margin-top: 20px;
}

.summary label {
  margin: 10px;
  font-weight: bold;
}

.box {
  border: 1px #333 solid;
  padding: 5px 10px;
  display: inline-block;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0;
  position: relative;
  width: 100%;
  bottom: 0;
}

footer p {
  color: white;
}

@media (max-width: 600px) {
  header,
  main,
  footer {
    padding: 10px 0;
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  nav a {
    display: inline-block;
    margin: 5px;
  }
}

#sidebar {
  display: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#sidebar a,
#sidebar button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #333;
  display: block;
  transition: 0.3s;
  border: none;
}

#sidebar a:hover,
#sidebar button:hover {
  color: #f1f1f1;
}

#sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  #sidebar {
    width: 100%;
  }

  .modal-content {
    width: 90%;
  }
}
