body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
main {
  flex: 1;
  padding: 20px;
  text-align: center;
}
main img {
  width: 100%;
  height: auto;
  max-width: 150px;
  margin: 10px 0;
}
main input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.btn:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
main a {
  display: inline-block;
  margin: 8px;
  color: #4caf50;
}
footer {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}
footer p {
  margin: 0; /* Añadir margen cero para el párrafo del footer */
}

/* Responsive Design */
@media (max-width: 600px) {
  main,
  footer {
    padding: 10px;
    text-align: center;
  }
  main img {
    max-width: 100%;
  }
  main input {
    width: 100%; /* Asegurar que los inputs ocupen todo el ancho */
  }
  .btn {
    width: 100%;
    padding: 10px 0;
  }
  main a {
    display: block; /* Ajustar links a bloque para mejor visibilidad en móvil */
    margin: 8px 0;
  }
}
