body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #4caf50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

main {
  flex: 1;
  padding: 20px 0;
  text-align: center;
}

.usuario {
  width: 45px;
  height: auto;
}

.dudas {
  width: 25px;
  height: auto;
}

nav {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  border-radius: 0 0 50px 50px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
  position: relative;
}

h2 {
  margin-top: 20px;
  color: #333;
}

.summary {
  margin-top: 20px;
}

.summary label {
  margin: 10px;
  font-weight: bold;
}

.box {
  border: 1px #333 solid;
  padding: 5px 10px;
  display: inline-block;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0;
  position: relative;
  width: 100%;
  bottom: 0;
}

footer p {
  color: white;
}

@media (max-width: 600px) {
  header,
  main,
  footer {
    padding: 10px 0;
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  nav a {
    display: inline-block;
    margin: 5px;
  }
}
