/* Loader Container */
#loader-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

/* Loader Spinner */
.loader {
  border: 8px solid #f0f0f0; /* Fondo neutro */
  border-top: 8px solid #4338ca; /* Color de acento */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

/* Spin Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hidden Utility Class */
.hidden {
  display: none;
}
